body {
  background: url(./img/pinkCircle.svg) 73% 95% no-repeat fixed,
    url(./img/yellowCircle.svg) 3% 8% no-repeat fixed;
  background-size: 20%, 7%, cover;
  /* animation: ball 40s linear infinite;
   */

  max-width: 1440px;
  margin: 0 auto;
  font-family: sans-serif;
}
/* @keyframes ball {
  from { background-position: 1000px 90%, 180% 40%, 0 0; }
  to { background-position: -2000px 90%, -300px 20%, 0 0; }
 } */
